# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
pip-log.txt
pip-delete-this-directory.txt

# IDE
.idea/
.vscode/

# Project files not needed for orchestration build
volumes/
diagrams/
ingestion_pipeline/
query_processor/
web_search_client/node_modules/
orchestration_layer/target/
*.md
*.tf
*.yaml
*.yml
explain.txt
*.swp
*.swo

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Data (Optional: Exclude large datasets if you mount them as volumes instead)
# data/ 
# *.csv