query_processor/venv/
query_processor/app/query_pb2_grpc.py
query_processor/app/query_pb2.py
query_processor/app/__pycache__/
query_processor/app/services/__pycache__/
query_processor/torch_cache/
query_processor/wheel_cache/
query_processor/$null
query_processor/proto/

ingestion_pipeline/venv/
ingestion_pipeline/__pycache__/
ingestion_pipeline/torch_cache/
ingestion_pipeline/wheel_cache/
ingestion_pipeline/$null
ingestion_pipeline/proto/

volumes/

.env